

.profile{
	background: skyblue;
}

.right{
	background: white;
	height: 500px;
}

.footer{
	background: black;
	height: 200px;
}

.jobs{
	margin-left: 2%;
}

.prof{
	color: black;
	background: white;
	border-radius: 10px;
	margin-left: 10px;
}

.prof p{
	padding-top: 15px;
	padding-left: 10px;
	margin-left: 10px;
	color: black;
	border-radius: 50%;
}

.chats{
	background: url('../../images/mountain (2).jpg');
	overflow: scroll;
	height: 500px;
}

.login{
	background: #4da6ff;
}

/*table*/
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

/*links*/
.navbar-header a{
	color: white;
}