

.profile{
	background: white;
}

.right{
	background: white;
	height: 500px;
}

.footer{
	background: black;
	height: 200px;
}

.jobs{
	margin-left: 2%;
}

.prof{
	color: black;
	font-style: italic;
	background: white;
	border-radius: 10px;
	margin-left: 10px;
}

.prof p{
	padding-top: 15px;
	padding-left: 10px;
	margin-left: 10px;
	color: black;
	border-radius: 50%;
}

.chats{
	background: silver;
	overflow: scroll;
	height: 500px;
}