

.profile{
	background: grey;
}

.right{
	background: white;
	height: 500px;
}

.footer{
	background: black;
	height: 200px;
}

.jobs{
	margin-left: 2%;
}

.prof{
	color: black;
	background: white;
	border-radius: 10px;
	margin-left: 10px;
}

.prof p{
	padding-top: 15px;
	padding-left: 10px;
	margin-left: 10px;
	color: black;
	border-radius: 50%;
}

.chats{
	background: url('../../images/Desert.jpg');
	overflow: scroll;
	height: 500px;
}

.login{
	background: #4da6ff;
}

/*table*/
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

/*links*/
.navbar-header a{
	color: white;
	padding-right: 10%;
	font-size: 15px;
	font-family: sans-serif;
}

.navbar-header a:hover{
	color: maroon;
	padding-right: 10%;
	font-size: 16px;
	font-family: sans-serif;
}

.navbar-header ul a{
	padding-right: 20px;
}

.dropdown a{
	background: grey;
}

#myVideo{
	width: 100%;
	background-image: url('../../images/derek-thomson-292172-unsplash.jpg');
}

.permit{
	background: skyblue;
}

.sec_chat{
	background: gold;
	border-radius: 10px;
	margin-left: 20%;
}

.sec_chat1{
	background: silver;
	border-radius: 10px;
	margin-left: 20%;
}